---
layout: fill
---

<h1>{{ page.title }}</h1>
{% if page.img %}
    <div class="blogimg"><img src="/assets/img/blog/{{ page.img }}">
{% endif %}
{% assign num_imgsrcs = page.imgsrcs | size %}
{% if num_imgsrcs > 0 %}
<div class="imgsrc"><p>{% for source in page.imgsrcs %}{% if forloop.index > 1 %},&nbsp;{% endif %}<a href="{{ source }}">source</a>{% endfor %}</p></div>
{% endif %}
</div>
{{ content }}
<div class="footline">
<!-- <div class="tags"><p><strong>tags: {% for tag in page.tags %}<a href="todo">{{ tag }}</a> {% endfor %} </strong></p></div> -->
<div class="date"><p>{{ page.date | date: "%Y-%m-%d" }}</p></div>
</div>
